@font-face {
  font-family: lowes;
  src: url('fonts/VCR_OSD_MONO_1.001.ttf'); 
}

html{
    font-size: 16;
}

:root{
    --title_color: rgb(51, 211, 99);
    --text_color: rgb(6, 95, 65);
}

div {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 1200px;
    border: 10px solid rgb(255, 255, 255);
    background-color: var(--text_color);
    border-radius: 25;
}
body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;         
}
h1 {
  color: var(--title_color);
  font-family: lowes;
  letter-spacing: 10px;
  line-height: 5px;
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
}

h2{
   color: var(--title_color);
  font-family: lowes;
  letter-spacing: 5px;
  line-height: 5px;
  font-size: 7rem;
  text-align: center;
  text-transform: uppercase; 
}

p {
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 1px;
}

pre{
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 3px;
  line-height: 25px;
}


a:link{
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 3px;
}

figcaption{
  text-align: center;
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

img{
  margin: auto
}
