@font-face {
  font-family: lowes;
  src: url('fonts/VCR_OSD_MONO_1.001.ttf'); 
}

html{
    font-size: 16;
}

:root{
    --title_color: rgb(255, 255, 255);
    --text_color:  rgb(255, 255, 255);
    --text_glow: 0 0 10px #6ffc76, 0 0 20px #63da35, 0 0 30px #00e60c, 0 0 40px #00e600, 0 0 43px #28be14, 0 0 47px #46c220, 0 0 50px #54a354;
    --text_glow_brighter: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #f0591e, 0 0 40px #f57723, 0 0 43px #28be14, 0 0 47px #46c220, 0 0 50px #54a354;
    --background_glow: 0 0 30px #00ff0d, 0 0 40px #48ff00, 0 0 50px #00ff0d, 0 0 60px #00ff00, 0 0 73px #28be14, 0 0 47px #46c220, 0 0 50px #54a354;
    text-shadow: var(--text_glow);
    
}

.crt {
  position: relative;
  color: #00ff00;
  font-family: monospace;
  text-shadow: 0 0 2px #00ff00, 0 0 5px #00ff00;
  z-index: 1;
}

/* Scanline overlay */
.crt::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: repeating-linear-gradient(
    to bottom,
    #000 0px,
    #000 2px,
    #333 2px,
    #333 4px
  );
  background-size: 100% 4px;
  animation: scanlines 1s linear infinite;
  z-index: -1;  /* behind the text */
}

@keyframes scanlines {
  from { background-position: 0 0; }
  to { background-position: 0 4px; } /* move by 1 scanline */
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.85; }
}

div {
    box-shadow: 0 0 20px rgb(0, 255, 0), inset 0 0 20px rgb(0, 255, 0);
    
    margin: auto;
    display: flex;
    justify-content: center;
    width: 1200px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 25;
}
body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;         
}
h1 {
  color: var(--title_color);
  font-family: lowes;
  letter-spacing: 15px;
  line-height: 5px;
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
}

h2{
  color: var(--title_color);
  font-family: lowes;
  letter-spacing: 10px;
  line-height: 5px;
  font-size: 7rem;
  text-align: center;
  text-transform: uppercase; 
}

h3 {
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 5px;
  line-height: 5px;
  font-size: 5rem;
  text-align: left;
}

p {
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 1px;
}

pre{
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 3px;
  line-height: 25px;
}


a:link{
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 3px;
  transition-duration: 0.4s;
}

a:link:hover{
  text-shadow: var(--text_glow_brighter);
}

.file{
  text-decoration: none; 
  font-size: 2.5rem; 
  color: inherit;
}

figcaption{
  text-align: center;
  color: var(--text_color);
  font-family: lowes;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

img{
  margin: auto
}

#page-content {
  font-family: monospace;
  white-space: pre;
  opacity: 0;              /* start invisible */
  transition: opacity 0.3s ease-in; /* smooth fade-in */
}

#page-content.visible {
  opacity: 1;              /* fade in */
}

#tv-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  pointer-events: none;
  transform: scaleY(1);
  transform-origin: center;
  transition: transform 0.2s ease-in;
  border-color:#00e600;

  z-index: 9999;
  opacity: 0;
}

#tv-background{
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  pointer-events: none;
  transform: scaleY(1);
  transform-origin: center;
  z-index: 9998;
  border:none;
  box-shadow: none;
  opacity: 0;
}

#background{
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: -1;
  border: none;
  box-shadow: inset 0 0 80px #118611;
  opacity: 1;
}

#tv-background.active{
  box-shadow:none;
  opacity: 1;
}


#tv-overlay.active {
  opacity: 1;
  transform: scaleY(0);
}

#terminal-header::after {
  content: "_";
  animation: blink 0.3s step-start infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}



.task.signal-cut {
  transform: scaleY(0);
  opacity: 0;
  filter: brightness(1.4);
}

.task {
  transform-origin: center;
  transition: transform 0.25s ease-in, opacity 0.15s ease;
  cursor: grab;
  touch-action: none;
  background-color:rgba(0, 0, 0, 0);
  margin: auto;

  display: flex;
  justify-content: flex-start; /* not top-glued */
  padding-top: 40px;  


  width: auto;
  height: 300px;
  border-radius: 5px;
  padding-top: 5px;
  border-color:var(--text_color);
  position: absolute;
  z-index: 9;
  text-align: center;
  flex-direction: column;
}


.task-title {
  font-size: 1,2rem;
  margin-top: 4px;           /* pushes it to the top */
  margin-bottom: 4px;
  text-align: left;
}

.task-desc {
  text-align: center;
  font-size: 1.2rem;
}

.button {
  
  bottom: 12px;
  border: none;
  left: 50%;
  transform: translateX(-50%);

  align-content: center;
  text-align: center;
  text-decoration: none;
  
  background-color: transparent;
  color: var(--text_color);
  text-shadow: var(--text_glow);
  font-family: lowes;

  height: 64px;
  position: absolute;
  width: 256px;

  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover{
  text-shadow: var(--text_glow_brighter);
}
